{{#tmp.dir}}tmp.dir {{tmp.dir}}{{/tmp.dir}}
{{#dataport}}dataport {{dataport}}{{/dataport}}
{{#parallelism.per-node}}parallelism.per-node {{parallelism.per-node}}{{/parallelism.per-node}}
{{#memory.per-node}}memory.per-node {{memory.per-node}}{{/memory.per-node}}
{{#single-precision}}single-precision {{single-precision}}{{/single-precision}}