<footer class="page-footer">
    <hr>
    <div class="row" style="margin-top: 3ex">
        <div class="large-3 medium-3 small-6 columns">
            <h4>Sponsors</h4>
            <ul class="no-bullet">
                <li><a href="https://www.ej-technologies.com/products/jprofiler/overview.html">Java Profiler</a></li>
            </ul>
            <h4>Social</h4>
            <ul class="no-bullet">
                <!--li><a href="#">Twitter</a></li-->
                <li><a href="https://plus.google.com/b/108753884703330550243/108753884703330550243">Google+</a></li>
            </ul>
        </div>
        <div class="large-3 medium-3 small-6 columns">
            <h4>Navigate</h4>
            <ul class="no-bullet">
                <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
                <li><a href="{{ site.baseurl }}/getting-started.html">Getting Started</a></li>
                <li><a href="{{ site.baseurl }}/manual/motivation.html">Manual</a></li>
                <li><a href="{{ site.baseurl }}/blog/index.html">Blog</a></li>
            </ul>
        </div>
        <div class="large-3 medium-3 small-6 columns">
            <h4>Develop</h4>
            <ul class="no-bullet">
                <li><a href="https://github.com/stratosphere/peel">Code</a></li>
                <li><a href="https://github.com/stratosphere/peel/issues">Issues</a></li>
                <li><a href="https://groups.google.com/forum/#!forum/peel-framework">Google Group</a></li>
            </ul>
        </div>
        <div class="large-3 medium-3 small-6 columns">
            <h4>Legal</h4>
            <ul class="no-bullet">
                <li><a href="{{ site.baseurl }}/legal/">Impressum</a></li>
                <li><a href="{{ site.baseurl }}/legal/privacy-policy.html">Privacy policy</a></li>
            </ul>
        </div>
    </div>
    <div class="row large-12 text-center">
        <hr>
        <p>Copyright 2014-{{ site.time | date: '%Y' }} <a href="https://www.tu-berlin.de/menue/home/parameter/en/?no_cache=1">TU Berlin</a>. All rights reserved.</p>
    </div>
</footer>
