<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8"/>

    <title>Peel Framework &middot; {{ page.title }}</title>

    <!-- Reset browser styles -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.min.css"/>
    <!-- Foundation CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/foundation.min.css"/>
    <!-- Foundation Icons -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/foundation-icons/foundation-icons.css"/>
    <!-- Pygments -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/pygments.css"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/app.css"/>

    <!-- Modernizr JS -->
    <script src="{{ site.baseurl }}/js/vendor/modernizr.js"></script>
    <!-- JQuery -->
    <script src="{{ site.baseurl }}/js/vendor/jquery.js"></script>
    <!-- Foundation -->
    <script src="{{ site.baseurl }}/js/foundation.min.js"></script>
    <script src="{{ site.baseurl }}/js/foundation/foundation.offcanvas.js"></script>
    <script src="{{ site.baseurl }}/js/foundation/foundation.topbar.js"></script>
    <script src="{{ site.baseurl }}/js/ZeroClipboard.min.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65941852-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>