/**
 * Peel Website Custom CSS
 */

.main-section {
    margin-top: 60px;
}

.content-container h1,
.content-container h2,
.content-container h3 {
    padding-top: 60px;
    margin-top: -60px;
}

h4 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 0.85rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #0F4959;
}

.man-nav {
    position: fixed;
    width: initial;
    margin-left: 750px;
    overflow: auto;
}

.side-nav li.active > a:first-child:not(.button) {
    color: #167411;
}

.side-nav .side-nav li {
    margin-bottom: 0;
}

.side-nav li a:not(.button) {
    padding: 0.4375rem 0 0.4375rem 0.875rem;
}

.side-nav li a:hover:not(.button), .side-nav li a:focus:not(.button) {
    color: #045300;
}

#main-container img {
    width: 100%;
}

.top-bar .right i {
    font-size: 1.5em;
    line-height: 1em;
    vertical-align: middle;
}

.contain-to-grid {
    position: fixed;
    top: 0;
    z-index: 100;
}

#top-link {
    position:fixed;
    bottom:10px;
    right:0px;
}

#top-link a{
    padding: 5px;
    padding-right: 10px;
    margin: 0;
    font-size: 30px;
    border: 0;
    display: none;
}

.off-canvas-list ul {
    list-style: none;
}

.teaser-row img {
    margin-bottom: 1em;
}

.page-footer {
    margin-top: 50px;
    background: rgba(0, 0, 0, 0.024);
}

figure {
    margin: 2ex 0 2ex 0;
}

figure figcaption {
    margin: 1ex 0 3ex 0;
    text-align: center;
}

table {
    width: 100%;
}

pre {
    background: #ffffff none repeat scroll 0 0;
    border: 0 solid #ccc;
    border-radius: 2px;
    font-family: "Consolas", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
    letter-spacing: 0.015em;
    line-height: 120%;
    padding: 0.5em;
    margin: 1ex 0 2ex 0;
}

code {
    background-color: transparent;
    font-family: "Consolas", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
    border: 0;
    padding: 0;
}

.post-meta {
    font-size: smaller;
    color: gray;
    float: right;
    text-align: right;
}

button.copy {
    font-size: 2rem;
    padding: 10px 0px 0px 5px;
    background-color: transparent;
    color: #40a13b;
}