# Set everything to be logged to the console
{{#log4j.rootCategory}}log4j.rootCategory={{log4j.rootCategory}}{{/log4j.rootCategory}}{{^log4j.rootCategory}}log4j.rootCategory=INFO, console{{/log4j.rootCategory}}
{{#log4j.appender.console._root_}}log4j.appender.console={{log4j.appender.console._root_}}{{/log4j.appender.console._root_}}{{^log4j.appender.console._root_}}log4j.appender.console=org.apache.log4j.ConsoleAppender{{/log4j.appender.console._root_}}
{{#log4j.appender.console.target}}log4j.appender.console.target={{log4j.appender.console.target}}{{/log4j.appender.console.target}}{{^log4j.appender.console.target}}log4j.appender.console.target=System.err{{/log4j.appender.console.target}}
{{#log4j.appender.console.layout}}log4j.appender.console.layout={{log4j.appender.console.layout}}{{/log4j.appender.console.layout}}{{^log4j.appender.console.layout}}log4j.appender.console.layout=org.apache.log4j.PatternLayout{{/log4j.appender.console.layout}}
{{#log4j.appender.console.layout.ConversionPattern}}log4j.appender.console.layout.ConversionPattern={{log4j.appender.console.layout.ConversionPattern}}{{/log4j.appender.console.layout.ConversionPattern}}{{^log4j.appender.console.layout.ConversionPattern}}log4j.appender.console.layout.ConversionPattern=%d{yy/MM/dd HH:mm:ss} %p %c{1}: %m%n{{/log4j.appender.console.layout.ConversionPattern}}

# Settings to quiet third party logs that are too verbose
{{#log4j.logger.org.spark-project.jetty._root_}}log4j.logger.org.spark-project.jetty={{log4j.logger.org.spark-project.jetty._root_}}{{/log4j.logger.org.spark-project.jetty._root_}}{{^log4j.logger.org.spark-project.jetty._root_}}log4j.logger.org.spark-project.jetty=WARN{{/log4j.logger.org.spark-project.jetty._root_}}
{{#log4j.logger.org.spark-project.jetty.util.component.AbstractLifeCycle}}log4j.logger.org.spark-project.jetty.util.component.AbstractLifeCycle={{log4j.logger.org.spark-project.jetty.util.component.AbstractLifeCycle}}{{/log4j.logger.org.spark-project.jetty.util.component.AbstractLifeCycle}}{{^log4j.logger.org.spark-project.jetty.util.component.AbstractLifeCycle}}log4j.logger.org.spark-project.jetty.util.component.AbstractLifeCycle=ERROR{{/log4j.logger.org.spark-project.jetty.util.component.AbstractLifeCycle}}
{{#log4j.logger.org.apache.spark.repl.SparkIMain$exprTyper}}log4j.logger.org.apache.spark.repl.SparkIMain$exprTyper={{log4j.logger.org.apache.spark.repl.SparkIMain$exprTyper}}{{/log4j.logger.org.apache.spark.repl.SparkIMain$exprTyper}}{{^log4j.logger.org.apache.spark.repl.SparkIMain$exprTyper}}log4j.logger.org.apache.spark.repl.SparkIMain$exprTyper=INFO{{/log4j.logger.org.apache.spark.repl.SparkIMain$exprTyper}}
{{#log4j.logger.org.apache.spark.repl.SparkILoop$SparkILoopInterpreter}}log4j.logger.org.apache.spark.repl.SparkILoop$SparkILoopInterpreter={{log4j.logger.org.apache.spark.repl.SparkILoop$SparkILoopInterpreter}}{{/log4j.logger.org.apache.spark.repl.SparkILoop$SparkILoopInterpreter}}{{^log4j.logger.org.apache.spark.repl.SparkILoop$SparkILoopInterpreter}}log4j.logger.org.apache.spark.repl.SparkILoop$SparkILoopInterpreter=INFO{{/log4j.logger.org.apache.spark.repl.SparkILoop$SparkILoopInterpreter}}
{{#log4j.logger.org.apache.parquet}}log4j.logger.org.apache.parquet={{log4j.logger.org.apache.parquet}}{{/log4j.logger.org.apache.parquet}}{{^log4j.logger.org.apache.parquet}}log4j.logger.org.apache.parquet=ERROR{{/log4j.logger.org.apache.parquet}}
{{#log4j.logger.parquet}}log4j.logger.parquet={{log4j.logger.parquet}}{{/log4j.logger.parquet}}{{^log4j.logger.parquet}}log4j.logger.parquet=ERROR{{/log4j.logger.parquet}}

# SPARK-9183: Settings to avoid annoying messages when looking up nonexistent UDFs in SparkSQL with Hive support
{{#log4j.logger.org.apache.hadoop.hive.metastore.RetryingHMSHandler}}log4j.logger.org.apache.hadoop.hive.metastore.RetryingHMSHandler={{log4j.logger.org.apache.hadoop.hive.metastore.RetryingHMSHandler}}{{/log4j.logger.org.apache.hadoop.hive.metastore.RetryingHMSHandler}}{{^log4j.logger.org.apache.hadoop.hive.metastore.RetryingHMSHandler}}log4j.logger.org.apache.hadoop.hive.metastore.RetryingHMSHandler=FATAL{{/log4j.logger.org.apache.hadoop.hive.metastore.RetryingHMSHandler}}
{{#log4j.logger.org.apache.hadoop.hive.ql.exec.FunctionRegistry}}log4j.logger.org.apache.hadoop.hive.ql.exec.FunctionRegistry={{log4j.logger.org.apache.hadoop.hive.ql.exec.FunctionRegistry}}{{/log4j.logger.org.apache.hadoop.hive.ql.exec.FunctionRegistry}}{{^log4j.logger.org.apache.hadoop.hive.ql.exec.FunctionRegistry}}log4j.logger.org.apache.hadoop.hive.ql.exec.FunctionRegistry=ERROR{{/log4j.logger.org.apache.hadoop.hive.ql.exec.FunctionRegistry}}