<!DOCTYPE html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"><![endif]-->
<html class="no-js" lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8"/>

    <title>Peel Framework &middot; {{ page.title }}</title>

    <!-- Reset browser styles -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css"/>
    <!-- Foundation CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/foundation.css"/>
    <!-- Foundation Icons -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/foundation-icons/foundation-icons.css"/>
    <!-- Pygments -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/pygments.css"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/app.css"/>

    <!-- Modernizr JS -->
    <script src="{{ site.baseurl }}/js/vendor/modernizr.js"></script>
    <!-- JQuery -->
    <script src="{{ site.baseurl }}/js/vendor/jquery.js"></script>
    <!-- Foundation -->
    <script src="{{ site.baseurl }}/js/foundation.min.js"></script>
    <script src="{{ site.baseurl }}/js/foundation/foundation.offcanvas.js"></script>
    <script src="{{ site.baseurl }}/js/foundation/foundation.topbar.js"></script>
</head>
<body>

<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        {% include navigation.top.html nav=page.nav %}

        <section class="main-section">
        {{ content }}
        </section>

        <a class="exit-off-canvas"></a>
        {% include footer.html nav=page.nav %}
    </div>
</div>


<script>

$(function(){
    $(document).foundation({
        offcanvas : {
            open_method: 'move', // Sets method in which offcanvas opens, can also be 'overlap'
            close_on_click : true
        }
    });

    $('#top-link').click(function(){
        $("html, body").animate({
            scrollTop: "0"
        }, {
          duration: 300,
          easing: "swing"
        });
    });

    $window = $(window);

    //show link if scroll over 100px
    $window.scroll(function(){
        if ($window.scrollTop() > 100) {
            $("#top-link a").show();
        } else {
            $("#top-link a").hide();
        }
    });

    //adjust section size if it is smaller than the navigation
    if ($('.main-section').height() < $('.man-nav').height()) {
        $('.main-section').height($('.man-nav').height());
    }
});

</script>

<div id="top-link" class="hide-for-medium-up">
    <a class="panel radius">&#8679;</a>
</div>
</body>
</html>
