---
layout: default
rightMenu: true
---

<div class="row">
    <section class="large-9 medium-12 small-12 columns content-container" role="content">
        {{ content }}
    </section>
    <aside class="columns man-nav hide-for-medium-down">
        {% include navigation.man.html nav=page.nav mobile=false %}
    </aside>
</div>


<script type="text/javascript">
followTo = function (selector) {
    var $this = $(selector),
        $window = $(window);

    var sectionHeight = $this.parent().find('section').height();
    var pos = 0;
    if (sectionHeight > $this.height()) {
        pos = sectionHeight - $this.height();
    }

    $window.scroll(function (e) {
        if ($window.scrollTop() > pos) {
            $this.css({
                position: 'absolute',
                top: pos
            });
        } else {
            $this.css({
                position: 'fixed',
                top: 'auto'
            });
        }
    });
};

followTo('.man-nav');
</script>