---
layout: default
rightMenu: true
---

{% assign manuals = site.manual | sort: 'date' %}

<div class="row">
    <section class="large-9 medium-12 small-12 columns content-container" role="content">
        {{ content }}
        {% include pagination.html items=manuals %}
    </section>
    <aside class="columns man-nav hide-for-medium-down">
        {% include navigation.man.html nav=page.nav mobile=false %}
    </aside>
</div>


<script type="text/javascript">
function followTo(selector) {
    var $this = $(selector),
        $window = $(window);

    var sectionHeight = $this.parent().find('section').height();
    var pos = 0;
    if (sectionHeight > $this.height()) {
        pos = sectionHeight - $this.height();
    }

    $window.scroll(function (e) {
        if ($window.scrollTop() > pos) {
            $this.css({
                position: 'absolute',
                top: pos
            });
        } else {
            $this.css({
                position: 'fixed',
                top: 'auto'
            });
        }
    });
};

$(function(){
    $('.tabs').on('click', function (event) {
        if (event.originalEvent == null)    //not clicked by human
            return;

        var clickedId = $(event.target).attr("href");
        var type = "";
        if (clickedId.indexOf("scala") != -1) {
            type = "scala";
        }

        if (clickedId.indexOf("xml") != -1) {
            type = "xml";
        }

        if (type != "") {
            $(".tabs li a[href*='"+type+"']").each(function(i, tab){
                $(tab).click();
            });
        }
    });

    followTo('.man-nav');
});

</script>